@{ ViewData["Title"] = "About"; }
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
	<canvas id="customerInfo" width="1400" height="180"
		style="border: solid 2px #000000">
	</canvas>
<div id="clickmeplease">Bitte klick auf mich, ich möchte das!</div>
	<canvas id="chartAction" width="1400" height="600"
		style="border: solid 2px #000000">
	</canvas>
	<canvas id="chartNoAction" width="1400" height="600"
		style="border: solid 2px #000000">
	</canvas>
	<form id="idForm1">
		<input id="idCheck1" type="checkbox"> Konto automatisch
		aktualisieren
	</form>
	<form id="idForm2">
		<input id="idCheck2" type="checkbox"> 100 € Geld soll immer da
		sein
</form>
