@{
    ViewData["Title"] = "Home Page";
}

<h2>Herzlich Willkommen Susanne Sonne</h2>

<p>Ihre aktuelle Kontoentwicklung:</p>

<canvas id="chartAction" width="1400" height="600"
        style="border: solid 2px #000000"></canvas>
<form id="idForm1">
    <input name="idCheck1" id="idCheck1" type="checkbox"><label for="idCheck1">Konto automatisch aktualisieren</label>
</form>

@section scripts {
    <script>
    apiUrl='@ViewData["apiUrl"]';
    </script>
}