@{
    ViewData["Title"] = "Home Page";
}

<h2>Herzlich Willkommen Susanne Sonne</h2>

<h3>Sie befinden sich in Ihrem Mo|Mo Cockpit</h3>



<canvas id="chartAction" width="1400" height="600"
        style="border: solid 2px #000000"></canvas>
<form id="idForm1">
    <input name="idCheck1" id="idCheck1" type="checkbox"><label for="idCheck1">Ich möchte mein Konto automatisch ausgleichen lassen</label><br />
    <input name="idCheck2" id="idCheck2" type="checkbox"><label for="idCheck2">Ich möchte Geld verleihen</label>
</form>

@section scripts {
    <script>
    apiUrl='@ViewData["apiUrl"]';
    </script>
}