@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table>
    <tr>
        <th>
            Message
        </th>
        <td>
            @ViewData["Message"]
        </td>
    </tr>
    <tr>
        <th>
            Response
        </th>
        <td>
            @ViewData["Response"]
        </td>
    </tr>
</table>